.navbar-brand {
    color: white !important;
}

body {
    background-color: #444444;
}

.row {
    margin-top: 3%;
}

.card {
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    margin: 1%;
    box-shadow: 5px 10px 15px #333333;
    text-align: center !important;
}

.upload-rules {
    color: gray;
    font-size: small;
}

.form-group {
    margin-top: 10%;
}

#predict-btn {
    text-align: right !important;
    margin-top: 3%;
}

.container-div {
    margin-left: 3%;
    margin-right: 3%;
}